# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]



# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot


# PyBuilder
target/

# DotEnv configuration
.env

# Pycharm
.idea/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

/data.tar
*.zip
*.h5
*/logs
/disease/data/processed/*
/data/audio_and_txt_files/
/data/processed/Other/
/data/processed/Healthy/
/data/processed/COPD/
/data/logs
/heart/raw/training-*/
/heart/raw/validation/
/data/test_set
/heartchallenge/audio_loc
/heartchallenge/raw
*.wav
*.pt
*.pkl
*.dat
*.hea